<div>
    <input type="hidden" name="oid" value="{{_id}}" />
    <div><label>Title:</label><input type="text" name="title" value="{{title}}" /></div>
    <div><label>Cluster:</label><input type="text" name="cluster" value="{{cluster}}" /></div>
    <div><label>Database:</label><input type="text" name="database" value="{{database}}" /></div>
    <div><label>Schema:</label><input type="text" name="schemaName" value="{{schemaName}}" /></div>
    <div><label>User:</label><input type="text" name="user" value="{{user}}" /></div>
    <div><label>Password:</label><input type="password" name="password" value="{{password}}" /></div>
</div>